 <configuration>
     <system.webServer>
         <staticContent>
             <!-- Unity 5.6 -->
             <mimeMap fileExtension=".json" mimeType="application/json" />
             <mimeMap fileExtension=".unityweb" mimeType="application/binary" />
         </staticContent>
     </system.webServer>
 </configuration>